drawsvg~=2.0
Django>=4.0,<5.0
psycopg2>=2.8
djangorestframework>=3.14.0
django-composite-field>=1.1
django-cors-headers==3.13.0
django-filter>=21.1
git+https://github.com/jazzband/django-polymorphic.git@v4.0.0a#egg=django-polymorphic
django-rest-polymorphic
requests>=2.26
markdown>=3.4.1
django-celery-results
celery>=5.3
celery-progress
gitpython
openpyxl
lxml
chardet
barcode-decoder
part_library_gen>=0.1.28a0
distributors-api>=0.1.2a0
#required by part db
odfpy
pandas